.container {
  margin-left: 400px;
}
.sub-container {
  display: flex;
}
.header {
  color:#b38ae9 ;
  border-bottom: 1px solid #b38ae9;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.header-h1 {
  margin-bottom: 1px;
  margin-left: 50px;
}
.todo {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 5px;
  max-width: fit-content;
  background-color:#a395b463;
  color: #b38ae9;
  font-size: large;
  font-family: sans-serif;
  font-style:normal;
}
.todo-list {
  margin-top: 7px;
  display: flex;
}
.todo-list-plan {
  margin-right: 40px;
}
.todo-title {
  color:#b38ae9 ;
}
.trash {
  padding-left: 20px;
}
.create {
  padding-left: 10px;
  margin-top: 3px;
}
.todo-image {
  padding: 7px;
  background-color: rgb(158, 120, 207);
  border-radius: 10px;
}
.profile-image {
  background-color: rgb(158, 120, 207);
  border-radius: 10px;
  margin-right: 50px;
}
input {
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #a395b463;
  color: #b38ae9;
  padding: 5px;
  font-size: large;
  font-family: sans-serif;
  font-style:normal;
}
.input-text {
  width: 300px;
  padding-left: 10px;
}
.input-date {
  margin-left: 10px;
  width: 150px;
  margin-right: 10px;
  margin-left: 20px;
  padding-left: 20px;
}

